window.thunar {
    background: none;

    treeview {
        background: none;
    }

    grid {
        *:selected,
        *:active {
            background: $background-3;
            border-radius: 3px;
        }
    }

    .sidebar {
        /* background-color: rgba(21, 26, 28, 0.2); */
        background-color: #392B41;
        padding: 1rem;
    }

    treeview {
        padding: 3px;
        &:selected {
            background: $primary-accent;
        }
    }

    .frame {
        border: 0;
    }

    toolbar {
        box {
            padding: 5px;
        }
        entry {
            background: $background-3;
            border-radius: 4px;
        }
    }

    paned grid {
        background: $background-1;
    }

    toolbar {
        background: $background-2;
        padding: 5px 0;
    }

    toolbar * {
        background: none;
    }

    /* hide separator */
    separator {
        background-image: image(rgba(255, 255, 255, 0));
        background-size: 1px 1px;
        background-position: center center;
    }
}
